@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
body {
  font-family: "Roboto", serif !important;
  @apply h-screen bg-gray-200
}

.main_container {
  @apply max-w-screen-xxxl m-auto 
}

.main_sidebar, .main_content {
  @apply xxl:p-5 xs:p-4
}

.sidebar_group {
  @apply h-full rounded-md bg-gray-100
}

.sidebar_item {
  @apply text-lg p-5 text-black flex
}

.sidebar_item {
  @apply hover:bg-gray-200
}

.sidebar_icon {
  @apply mr-2
}

.sidebar_text {
  @apply self-center
}

.module_title {
  @apply text-3xl text-black mb-5
}

.module_content {
  @apply text-lg text-black;
}

.periodic_report_item {
  @apply bg-gray-100 rounded-md m-3
}

.periodic_icon {
  @apply p-5 self-center
}

.periodic_data {
  @apply flex-grow p-3
}

.periodic_amount {
  @apply text-2xl font-bold
}

.period {
  @apply text-sm font-bold
}

.summary_see_more {
  @apply text-xs self-center rounded-md bg-gray-100 p-2 font-bold
}

.transaction_item, 
.subscriptions_item {
  height: fit-content;
  @apply  m-3
}

.transactions_title, 
.subscriptions_title {
  @apply text-2xl
}

.transactions_data_item, 
.subscriptions_data_item,
.expense_data_item {
  @apply pt-3 pb-3 pl-3  pr-3 flex mb-3 bg-gray-100 rounded-md
}


.tdi_left_panel, 
.sdi_left_panel, 
.expense_left_panel{
  @apply flex-grow self-center
}

.tdi_icon_panel,
.sdi_icon_panel,
.expense_icon_panel  {
  @apply self-center mt-2 mr-5
}

.tdi_right_panel, 
.sdi_right_panel,
.expense_right_panel {
  @apply self-center
}

.td_item_title, .td_item_price,
.sd_item_title, .sd_item_price,
.expense_item_title, .expense_item_price {
  @apply font-bold text-sm
}

.td_item_price, .sd_item_price,
.expense_item_price {
  @apply text-right
}

.td_item_tag, .sd_item_tag,
.expense_item_tag{
  @apply font-bold text-sm
}

.sd_item_title {
  @apply self-center
}

.td_item_date, .sd_item_date, 
.expense_item_date {
  @apply font-bold text-sm text-right
}